<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.31.0" />
  <package id="Microsoft.IdentityModel.Logging" version="6.31.0" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.31.0" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="Portable.BouncyCastle" version="1.9.0" />
  <package id="System.Reactive" version="5.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" />
  <package id="System.Security.Cryptography.Cng" version="4.5.0" />
  <package id="System.Text.Encodings.Web" version="4.7.2" />
  <package id="System.Text.Json" version="4.7.2" />
  <package id="System.Threading.Channels" version="5.0.0" />
  <package id="WalletConnect.Common" version="2.0.6" />
  <package id="WalletConnect.Core" version="2.0.6" />
  <package id="WalletConnect.Crypto" version="2.0.6" />
  <package id="WalletConnect.Events" version="2.0.6" />
  <package id="WalletConnect.Network" version="2.0.6" />
  <package id="WalletConnect.Network.Websocket" version="2.0.6" />
  <package id="WalletConnect.Sign" version="2.0.6" manuallyInstalled="true" />
  <package id="WalletConnect.Storage" version="2.0.6" />
  <package id="Websocket.Client" version="4.6.1" />
</packages>